name: Build CLI

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ${{ matrix.os[0]}}

    strategy:
      matrix:
        os: [[ubuntu-latest, linux], [windows-latest, windows], [macos-latest, mac]]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Setup Poetry
        uses: Gr1N/setup-poetry@v7

      - name: Install Poetry Packages
        run: poetry install

      - name: Run Build Script
        run: make build

      - name: Rename Executables
        run: |
          # If dist/redownload-cli exists, rename it dist/redownload-cli-${{ matrix.os[1] }}
          FILE='./dist/redownload-cli'
          FILE_WITH_PLATFORM="./dist/redownload-cli-${{ matrix.os[1] }}"
          if [ -f "$FILE" ]; then
            mv $FILE $FILE_WITH_PLATFORM
          fi

          # If dist/redownload-cli.exe exists, rename it dist/redownload-cli-${{ matrix.os[1] }}.exe
          FILE='./dist/redownload-cli.exe'
          FILE_WITH_PLATFORM="./dist/redownload-cli-${{ matrix.os[1] }}.exe"
          if [ -f "$FILE" ]; then
            mv $FILE $FILE_WITH_PLATFORM
          fi
        shell: bash

      - name: Upload Executables
        uses: softprops/action-gh-release@v0.1.14
        with:
          files: |
            dist/redownload-cli-${{ matrix.os[1] }}
            dist/redownload-cli-${{ matrix.os[1] }}.exe
